div, button {
  margin:auto; position: absolute;
  top:0;right:0;left:0;bottom:0;
}

#bee {
  width:75px;
  height:100px;
  background-color:transparent;
  opacity:0;
  z-index:2;
  left:101%;
  transform:rotate(-90deg);
  animation-name:none;
  animation-duration:9s;
  animation-fill-mode:forwards;
}

#b_head {
  width:15px;
  height:15px;
  background-color:#35495E;
  border-radius:100%;
  top:-50px;
  z-index:-1;
}

#main_wrap {
  animation-name:none;
  animation-duration:8s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
}

#b_r_wing {
  width:10px;
  height:25px;
  background-color:#F5EFCA;
  border-radius:100%;
  transform:rotate(-45deg);
  top:-22px; left: 13px;
  z-index:1;
  animation-name:b_r_fly;
  animation-duration:50ms;
  animation-direction:alternate;
  animation-iteration-count:infinite;
}

#b_l_wing {
  width:10px;
  height:25px;
  background-color:#F5EFCA;
  border-radius:100%;
  transform:rotate(45deg);
  top:-22px; left: -14px;
  z-index:1;
  animation-name:b_l_fly;
  animation-duration:50ms;
  animation-direction:alternate;
  animation-iteration-count:infinite;
}

#b_body {
  width:20px;
  height:40px;
  background-color:#F0C419;
  border-radius:100%;
}

#b_s_body {
  width:100%;
  height:100%;
  border-radius:100%;
  overflow:hidden;
}

#b_stripe_1 {
  width:20px; height:5px;
  background-color:#35495E;
  top:-5px;
}

#b_stripe_2 {
  width:20px; height:5px;
  background-color:#35495E;
  top:15px;
}

#b_l_antennae {
  width:3px;
  height:10px;
  background-color:#35495E;
  border-radius:100%;
  transform:rotate(-25deg);
  top:-15px; left:-10px;
}

#b_r_antennae {
  width:3px;
  height:10px;
  background-color:#35495E;
  border-radius:100%;
  transform:rotate(25deg);
  top:-15px; left:10px;
}

#b_stinger {
  width:3px;
  height:10px;
  background-color:#35495E;
  border-radius:100%;
  top:40px; left:-2;
  z-index:-1;
}

body {
  background-color:#bababa;
  animation-name:none;
  animation-duration:3s;
  animation-fill-mode:forwards;
  overflow:hidden;
}

.petal {
  width:93px;
  height:200px;
  border-radius:100%; 
  background-color:white;
  animation-name:none;
  animation-duration:4s;
  animation-fill-mode:forwards;
  box-shadow:2px 4px #ffdef5;
}

#main {
  width:210px; height:210px;
  background-color:#ad1515;
  outline:none;
  border-radius:100%; border-width:12px; border-color:#9e9e9e;
  color:white;
  font-size:20px; font-weight:bold;
  animation-name:none;
  animation-duration:2s;
  animation-fill-mode:forwards;
}

#main:hover {
  background-color:#8c1111;
  filter: brightness(90%);
  border-style:outset;
}

@keyframes daylight {
  from {
    background-color:#bababa;
  }
  to {
    background-color:#78b02a;
  }
}

@keyframes polymorph {
  from {
    background-color:#ad1515;
    border-width:12px;
  }
  to {
    border-width:2px; border-color:#c98912; border-style:solid;
    background-color:#f2a516;
  }
}

@keyframes pinwheel {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes reveal {
  from {
    transform:translateY(0);
  }
  to {
    transform:translateY(100px);
  }
}

@keyframes b_l_fly {
  from {
    transform:rotate(25deg);
    left: -13px; top:-15px;
  }
  to {
    transform:rotate(85deg);
    left: -13px; top:-25px;
  }
}

@keyframes b_r_fly {
  from {
    transform:rotate(-45deg);
    left: 13px; top:-15px;
  }
  to {
    transform:rotate(-85deg);
    left: 13px;top:-25px;
  }
}

@keyframes bee {
  0% {
    left:101%;
    opacity:0;
    top:0;
    transform:rotate(-90deg);
  }
  8% {
    top:-100px;
    opacity:1;
    transform:rotate(-135deg);
  }
  20% {
    top:100px;
    transform:rotate(-45deg);
  }
  33% {
    left:0%;
    top:0;
  }
  66% {
    left:0%;
  }
  91% {
    opacity:1;
  }
  99%, 100% {
    left:-120%;
    opacity:0;
  }
}